html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #f0f0f0; 
  font-family: Circular,-apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1; 
}

br { display: block; line-height: 2.2em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

#content {
  background-image: url('../images/sargent_background.jpg');
  background-size: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

#topbar {
  background: #4E2A84;
  padding: 10px 0 10px 0;
  text-align: right;
  height: 45px;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  transition: height 0.5s linear;
}
#topbar a {
  color: white;
  font-size:1.6em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
  padding-right: 30px;
  font-family: "Julius Sans One", sans-serif;
}
#topbar a:hover {
  opacity: 1;
}


.choose {
  font-family: "Julius Sans One", sans-serif;
  font-size: 35px;
  text-align: center;
  color: #4E2A84;
  padding-top: 60px;
}

.choosemeal {
  font-family: "Julius Sans One", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #4E2A84;
  font-weight: 400;
  font-weight: lighter;
  padding-top: 0px;
}

.chooseitem{
  color:white; 
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
  padding-left: 2px;
  position: center;


}

#food{ 
  float: left; 
  height: 250px;
  width: 230px;
  border: 2px solid black;
  margin: 5px;
  margin-top: 45px;
  margin-left: 60px;
  background-color:#4E2A84; 
  opacity: 0.8;
  border-color: #4E2A84;opacity: 0.8;
}

#submit{ 
  position: relative;
  top: 350px;
  right: 20px;
}

#submit input{
  font-size: 20px;
  border-radius: 8px;
  background-color: #4E2A84;opacity: 0.8;
  color: white;
}

.items {
font-weight: bold;
font-size: 25px;
margin: 5px;
}

.checkbox {
margin: 7px;
}